.produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7px;
    height: 470px;
    width: 262px;
    padding: 0 10px 15px 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
#card-frete{
    width: 104%;
}
#btn-card{
    width: 70%;
}
.primeiro-produto{
    background-image: url(../Imagens/Produtos/1.png);
}
.segundo-produto{
    background-image: url(../Imagens/Produtos/2.png);
}
.terceiro-produto{
    background-image: url(../Imagens/Produtos/3.png);
}
.quarto-produto{
    background-image: url(../Imagens/Produtos/4.png);
}
.quinto-produto{
    background-image: url(../Imagens/Produtos/5.png);
}
.sesto-produto{
    background-image: url(../Imagens/Produtos/6.png);
}
.setimo-produto{
    background-image: url(../Imagens/Produtos/7.png);
}
.oitavo-produto{
    background-image: url(../Imagens/Produtos/8.png);
}
.nono-produto{
    background-image: url(../Imagens/Produtos/9.png);
}
.decimo-produto{
    background-image: url(../Imagens/Produtos/10.png);
}
.decimoPrim-produto{
    background-image: url(../Imagens/Produtos/11.png);
}
.decimoSeg-produto{
    background-image: url(../Imagens/Produtos/12.png);
}
.decimoTer-produto{
    background-image: url(../Imagens/Produtos/12.png);
    
}
